.contenedor{
  width: auto;
  height: auto;
  background-color: var(--md-sys-color-on-primary-container);
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
  /* Ajuste automático del tamaño de la fuente */
  font-size: clamp(12px, 2vw, 24px); /* Mínimo de 12px, máximo de 24px, con ajuste según viewport width */
  
  line-height: 1.5;
  
  /* Evitar que el texto se salga del contenedor */
  white-space: normal;
  word-wrap: break-word;
}
h4{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}