---

---


<script >
  import '@material/web/button/filled-button.js';
  import '@material/web/button/outlined-button.js';
  import '@material/web/checkbox/checkbox.js';
</script>

<label>
  Material 3
  <md-checkbox checked></md-checkbox>
</label>

<md-outlined-button>Back</md-outlined-button>
<md-filled-button>Next</md-filled-button>




<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura para centrar verticalmente */
  }

  /* Agrega un poco de espacio entre los elementos */
  .component {
    margin-bottom: 10px;
  }
</style>

<script>
  import '@material/web/button/filled-button.js';
  import '@material/web/button/outlined-button.js';
  import '@material/web/checkbox/checkbox.js';
</script>

<div class="container">
  <label class="component">
    Material 3
    <md-checkbox checked></md-checkbox>
  </label>

  <md-outlined-button class="component">Back</md-outlined-button>
  <md-filled-button class="component">Next</md-filled-button>
</div>
