.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 185 188);
  --md-sys-color-surface-tint: rgb(255 178 183);
  --md-sys-color-on-primary: rgb(52 3 12);
  --md-sys-color-primary-container: rgb(202 122 128);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(234 193 194);
  --md-sys-color-on-secondary: rgb(38 16 18);
  --md-sys-color-secondary-container: rgb(172 136 137);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(236 196 146);
  --md-sys-color-on-tertiary: rgb(34 19 0);
  --md-sys-color-tertiary-container: rgb(173 139 93);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 18);
  --md-sys-color-on-background: rgb(240 222 222);
  --md-sys-color-surface: rgb(26 17 18);
  --md-sys-color-on-surface: rgb(255 249 249);
  --md-sys-color-surface-variant: rgb(82 67 68);
  --md-sys-color-on-surface-variant: rgb(219 198 198);
  --md-sys-color-outline: rgb(178 158 159);
  --md-sys-color-outline-variant: rgb(145 127 127);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 222 222);
  --md-sys-color-inverse-on-surface: rgb(50 40 40);
  --md-sys-color-inverse-primary: rgb(116 52 58);
  --md-sys-color-primary-fixed: rgb(255 218 219);
  --md-sys-color-on-primary-fixed: rgb(44 0 7);
  --md-sys-color-primary-fixed-dim: rgb(255 178 183);
  --md-sys-color-on-primary-fixed-variant: rgb(94 35 41);
  --md-sys-color-secondary-fixed: rgb(255 218 219);
  --md-sys-color-on-secondary-fixed: rgb(32 11 13);
  --md-sys-color-secondary-fixed-dim: rgb(230 189 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 47 49);
  --md-sys-color-tertiary-fixed: rgb(255 221 179);
  --md-sys-color-on-tertiary-fixed: rgb(27 14 0);
  --md-sys-color-tertiary-fixed-dim: rgb(231 192 142);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 49 11);
  --md-sys-color-surface-dim: rgb(26 17 18);
  --md-sys-color-surface-bright: rgb(65 55 55);
  --md-sys-color-surface-container-lowest: rgb(20 12 13);
  --md-sys-color-surface-container-low: rgb(34 25 26);
  --md-sys-color-surface-container: rgb(39 29 30);
  --md-sys-color-surface-container-high: rgb(49 40 40);
  --md-sys-color-surface-container-highest: rgb(61 50 51);
}
