---
import Cesar from "../component/cifrado_cesar/cesar.astro"
import Style from "../style/style.astro"
import Head from "../style/head.astro"
import Navbar from "../style/navbar.astro"
import Home from "../style/home.astro"
import Anuncios from "../component/anuncios.astro"
---

<html lang="es">
  <Head/>
	<body>
    <Navbar/>
    <main>
      <section><Cesar/></section>
    </main>
    <Home/>
    <Anuncios/>
	</body>
</html>

<Style/>