---
import Style from "../style/style.astro"
import Head from "../style/head.astro"
import Navbar from "../style/navbar.astro"
import Home from "../style/home.astro"
import Anuncios from "../component/anuncios.astro"
import Dual from "../component/codigo_dual/dual.astro"
---

<html lang="es">
  <Head/>

	<body>
    <Navbar/>
    <main>

      <Dual/> 

    </main>
    <Home/>
    <Anuncios/>
	</body>
</html>

<Style/>