---
import Head from "../style/head.astro";
import Navbar from "../style/navbar.astro";
import Home from "../style/home.astro";
import Style from "../style/style.astro"
---

<html lang="es">
	<Head/>
	<body>
		<Navbar/>
		<main>
			<section>
				<md-filled-button onclick="window.location.href='/cifrado-cesar'">Cifrado Cesar</md-filled-button>
				<md-filled-button onclick="window.location.href='/matriz'">Matriz Generadora</md-filled-button>
				<md-filled-button onclick="window.location.href='/codigo-dual'">Codigo Dual</md-filled-button>
			</section>
			<section>
				<h2>integrantes:</h2>
				<h3>Sebastian Asprino</h3>
				<h3>Aaron Cabrales</h3>
				<h3>Brainer Gutiérrez</h3>
				<h3>Oskleiderbeth Vásquez</h3>
				<p>Proyectos de Teoria de Codigos recopilados en un solo sitio</p>
			</section>
		</main>
    <Home/>
	</body>
</html>

<Style/>

<script >
  import '@material/web/button/filled-button';
</script>


<style>
	md-filled-button{
		margin: 10px;
	}

	@media (width <= 700px) {
    md-filled-button {
      margin: 12px;
    }
  }
</style>