---
import Style from "../style/style.astro"
import Head from "../style/head.astro"
import Navbar from "../style/navbar.astro"
import Home from "../style/home.astro"
import Anuncios from "../component/anuncios.astro"
import MatrizGeneradora from "../component/matriz/matriz_generadora.astro"
---

<html lang="es">
  <Head/>
  <!-- <script src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js"></script> -->
	<body>
    <Navbar/>
    <main>

      <MatrizGeneradora/>

    </main>
    <Home/>
    <Anuncios/>
	</body>
</html>

<Style/>

