---
import Style from "../style/style.astro"
import Head from "../style/head.astro"
import Navbar from "../style/navbar.astro"
import Home from "../style/home.astro"
---

<html lang="es">
  <Head/>
	<body>
    <Navbar/>
    <main>
      <p>en desarrollo</p>
    </main>
    <Home/>
	</body>
</html>

<Style/>