---
import github from "./github.svg"
---



<header>
  <h1>Teoria de Codigos</h1>
  <a href="https://github.com/SebastianAsprino/Teoria_de_codigos" target="_blank">
    <md-icon-button class="github-button">
      <img src={github.src} alt="GitHub Icon"/> 
    </md-icon-button>
  </a>
</header>

<script >
import '@material/web/icon/icon.js';
import '@material/web/iconbutton/filled-icon-button.js';
import '@material/web/iconbutton/filled-tonal-icon-button.js';
import '@material/web/iconbutton/icon-button.js';
import '@material/web/iconbutton/outlined-icon-button.js';

</script>

<style>
  /* Estilos para el header */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
  }

  /* Estilos para el h1 */
  h1 {
      margin: 0; /* Eliminar margen */
  }

  /* Estilos para el button */
  .github-button {
      background: none;
      border: none;
      cursor: pointer;
  }
</style>